<a href="https://colab.research.google.com/github/MehmetSemerci/CNG562-MehmetSemerci/blob/master/SEMERCI_adult_census_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Adult Census Income 
    In this notebook we will make use of some machine learning algorithms.

## Loadig Data from Drive folder
In this part I'm loading data from drive with pydrive.

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/MehmetSemerci/CNG562-MehmetSemerci/master/adult.csv'
df3 = pd.read_csv(url)
df3.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

## Unknown Values
As you can see above, there are some rows with values '?'. When I examine the whole dataset I saw that the columns 'workclass', 'occupation' and 'native.country' contains these values. Moreover, when 'workclass' column has value '?', 'occupation' column has also the value '?'. Therefore, I removed the rows with values workclass='?' and native.cuntry='?' only and that was enough.

In [2]:
df3.drop(df3.index[df3['workclass'] == '?'], inplace = True)
df3.drop(df3.index[df3['native.country'] == '?'], inplace = True)
mainDF = df3
df3.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

## Categorical Values

In order to work on this dataset we need numerical data. As you can see dataset contains string values. Therefore, I'm implementing one hot encoding to columns with string values.

In [3]:

#DUMMY OPERATORS

df3['workclass'] = pd.Categorical(df3['workclass'])
dfDummies = pd.get_dummies(df3['workclass'], prefix = 'workclass')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['education'] = pd.Categorical(df3['education'])
dfDummies = pd.get_dummies(df3['education'], prefix = 'education')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['marital.status'] = pd.Categorical(df3['marital.status'])
dfDummies = pd.get_dummies(df3['marital.status'], prefix = 'marital.status')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['occupation'] = pd.Categorical(df3['occupation'])
dfDummies = pd.get_dummies(df3['occupation'], prefix = 'occupation')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['relationship'] = pd.Categorical(df3['relationship'])
dfDummies = pd.get_dummies(df3['relationship'], prefix = 'relationship')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['race'] = pd.Categorical(df3['race'])
dfDummies = pd.get_dummies(df3['race'], prefix = 'race')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['sex'] = pd.Categorical(df3['sex'])
dfDummies = pd.get_dummies(df3['sex'], prefix = 'sex')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['native.country'] = pd.Categorical(df3['native.country'])
dfDummies = pd.get_dummies(df3['native.country'], prefix = 'native.country')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['income'] = pd.Categorical(df3['income'])
dfDummies = pd.get_dummies(df3['income'], prefix = 'income')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')


df3.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0

## Scaling

As you can see in the dataset, the values have different ranges for different columns. For example, age column has range between 20-85 while fnlwgt column has larger values. In order to solve this problem we need scale the values in fixed range(0-1).

In [4]:
from sklearn.preprocessing import minmax_scale
dfTest = df3
cols_to_norm = ['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']
dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']] = minmax_scale(dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']])


dfTest.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64.
  after removing the cwd from sys.path.

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,0.890411,Private,0.080970,HS-grad,0.533333,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,0.506849,Private,0.086061,7th-8th,0.200000,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,0.328767,Private,0.170568,Some-college,0.600000,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,0.232877,Private,0.138072,HS-grad,0.533333,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,0.287671,Private,0.093024,10th,0.333333,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0

After scaling I'm removing the columns with string values.

In [5]:
dfTest.drop(['workclass','education','marital.status','occupation','relationship','race','sex','native.country','income','income_<=50K'],inplace=True,axis=1)

dfTest.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_>50K
1,0.890411,0.080970,0.533333,0.0,1.000000,0.173469,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0.506849,0.086061,0.200000,0.0,0.895317,0.397959,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0.328767,0.170568,0.600000,0.0,0.895317,0.397959,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
5,0.232877,0.138072,0.533333,0.0,0.865473,0.448980,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6,0.287671,0.093024,0.333333,0.0,0.865473,0.397959,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

## Logistic Regression

Here in y variable I'm keeping the actual results  and in X variable actual dataset without the results.

Training my model on 20-80 rate.

In [6]:
y = dfTest["income_>50K"]
X= dfTest.drop('income_>50K',axis=1)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()

logmodel.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

Getting predictions from my model.

In [0]:
predictions = logmodel.predict(X_test)

Finally, I get the accuracy score which is %84.4.

In [8]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,predictions)

0.844050381173351

## kNN

I followed same steps with logistic regression here

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [0]:
predictknn = knn.predict(X_test)

In [11]:
accuracy_score(y_test,predictknn)

0.8167053364269141