<a href="https://colab.research.google.com/github/MehmetSemerci/CNG562-MehmetSemerci/blob/master/SEMERCI_forest_fires_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Forest Fires

## Loading Data

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/MehmetSemerci/CNG562-MehmetSemerci/master/uci-forestfires%20-%20forestfires.csv'
df3 = pd.read_csv(url)
df3.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

## Categorical Values

In [2]:
df3['month'] = pd.Categorical(df3['month'])
dfDummies = pd.get_dummies(df3['month'], prefix = 'month')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['day'] = pd.Categorical(df3['day'])
dfDummies = pd.get_dummies(df3['day'], prefix = 'day')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,...,0,0,0,1,0,0,0,0,0,0
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,...,0,1,0,0,0,0,0,0,1,0
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,...,0,1,0,0,0,1,0,0,0,0
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,...,0,0,0,1,0,0,0,0,0,0
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,...,0,0,0,0,0,0,1,0,0,0

## Scaling

In [3]:
from sklearn.preprocessing import minmax_scale
dfTest = df3
cols_to_norm = ['X','Y','FFMC','DMC','DC','ISI','temp','RH','wind','rain']
dfTest[['X','Y','FFMC','DMC','DC','ISI','temp','RH','wind','rain']] = minmax_scale(dfTest[['X','Y','FFMC','DMC','DC','ISI','temp','RH','wind','rain']])


dfTest.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64.
  after removing the cwd from sys.path.

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,0.750,0.428571,mar,fri,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,...,0,0,0,1,0,0,0,0,0,0
1,0.750,0.285714,oct,tue,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,...,0,1,0,0,0,0,0,0,1,0
2,0.750,0.285714,oct,sat,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,...,0,1,0,0,0,1,0,0,0,0
3,0.875,0.571429,mar,fri,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,...,0,0,0,1,0,0,0,0,0,0
4,0.875,0.571429,mar,sun,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,...,0,0,0,0,0,0,1,0,0,0

In [4]:
dfTest.drop(['month','day'],inplace=True,axis=1)

dfTest.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,0.750,0.428571,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,...,0,0,0,1,0,0,0,0,0,0
1,0.750,0.285714,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,...,0,1,0,0,0,0,0,0,1,0
2,0.750,0.285714,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,...,0,1,0,0,0,1,0,0,0,0
3,0.875,0.571429,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,...,0,0,0,1,0,0,0,0,0,0
4,0.875,0.571429,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,...,0,0,0,0,0,0,1,0,0,0