<a href="https://colab.research.google.com/github/MehmetSemerci/CNG562-MehmetSemerci/blob/master/SEMERCI_adult_census_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [82]:
import pandas as pd
link = 'https://drive.google.com/open?id=1bqHcBDWKJg-hhbuUgC2tj0B8AlY-BKnl' # The shareable link
fluff, id = link.split('=')
print (id)
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('adult.csv')  
df3 = pd.read_csv('adult.csv')

#I m removing unknown values from dataframe here
df3.drop(df3.index[df3['workclass'] == '?'], inplace = True)
df3.drop(df3.index[df3['native.country'] == '?'], inplace = True)
df3.head()

1bqHcBDWKJg-hhbuUgC2tj0B8AlY-BKnl

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [83]:
import numpy as np
#DUMMY OPERATORS

df3['workclass'] = pd.Categorical(df3['workclass'])
dfDummies = pd.get_dummies(df3['workclass'], prefix = 'workclass')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['education'] = pd.Categorical(df3['education'])
dfDummies = pd.get_dummies(df3['education'], prefix = 'education')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['marital.status'] = pd.Categorical(df3['marital.status'])
dfDummies = pd.get_dummies(df3['marital.status'], prefix = 'marital.status')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['occupation'] = pd.Categorical(df3['occupation'])
dfDummies = pd.get_dummies(df3['occupation'], prefix = 'occupation')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')


df3['relationship'] = pd.Categorical(df3['relationship'])
dfDummies = pd.get_dummies(df3['relationship'], prefix = 'relationship')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['race'] = pd.Categorical(df3['race'])
dfDummies = pd.get_dummies(df3['race'], prefix = 'race')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['sex'] = pd.Categorical(df3['sex'])
dfDummies = pd.get_dummies(df3['sex'], prefix = 'sex')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['native.country'] = pd.Categorical(df3['native.country'])
dfDummies = pd.get_dummies(df3['native.country'], prefix = 'native.country')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['income'] = pd.Categorical(df3['income'])
dfDummies = pd.get_dummies(df3['income'], prefix = 'income')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')


df3.head(20)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,...,0,0,0,0,0,1,0,0,0,1
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,...,0,0,0,0,0,1,0,0,0,1
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,0,1
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,...,0,0,0,0,0,1,0,0,1,0
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,...,0,0,0,0,0,1,0,0,1,0

In [84]:
from sklearn.preprocessing import minmax_scale
dfTest = df3
cols_to_norm = ['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']
dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']] = minmax_scale(dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']])


dfTest.head(20)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64.
  after removing the cwd from sys.path.

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,0.890411,Private,0.080970,HS-grad,0.533333,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,0.506849,Private,0.086061,7th-8th,0.200000,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,0.328767,Private,0.170568,Some-college,0.600000,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,0.232877,Private,0.138072,HS-grad,0.533333,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,0.287671,Private,0.093024,10th,0.333333,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0
7,0.780822,State-gov,0.050899,Doctorate,1.000000,Never-married,Prof-specialty,Other-relative,White,Female,...,0,0,0,0,0,1,0,0,0,1
8,0.698630,Federal-gov,0.277540,HS-grad,0.533333,Divorced,Prof-specialty,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
10,0.383562,Private,0.107758,Doctorate,1.000000,Divorced,Prof-specialty,Unmarried,Black,Female,...,0,0,0,0,0,1,0,0,0,1
11,0.287671,Self-emp-not-inc,0.102491,Prof-school,0.933333,Never-married,Prof-specialty,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
12,0.479452,Private,0.078459,Bachelors,0.800000,Widowed,Other-service,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,0,1
13,0.205479,Private,0.083236,Masters,0.866667,Separated,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
15,0.397260,Private,0.021479,Prof-school,0.933333,Divorced,Prof-specialty,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
16,0.383562,Private,0.108130,11th,0.400000,Divorced,Transport-moving,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
17,0.547945,Private,0.206724,Masters,0.866667,Divorced,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
19,0.232877,Private,0.128670,Bachelors,0.800000,Separated,Sales,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
20,0.273973,Private,0.118975,Bachelors,0.800000,Never-married,Exec-managerial,Not-in-family,White,Male,...,0,0,0,0,0,1,0,0,0,1
21,0.164384,Private,0.042993,11th,0.400000,Separated,Sales,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
22,0.602740,Private,0.010395,HS-grad,0.533333,Divorced,Sales,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
23,0.465753,Private,0.095246,Some-college,0.600000,Married-civ-spouse,Transport-moving,Husband,White,Male,...,0,0,0,0,0,1,0,0,1,0
25,0.054795,Private,0.013965,Assoc-voc,0.666667,Married-civ-spouse,Craft-repair,Husband,White,Male,...,0,0,0,0,0,1,0,0,1,0