<a href="https://colab.research.google.com/github/MehmetSemerci/CNG562-MehmetSemerci/blob/master/SEMERCI_adult_census_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [94]:
import pandas as pd
link = 'https://drive.google.com/open?id=1bqHcBDWKJg-hhbuUgC2tj0B8AlY-BKnl' # The shareable link
fluff, id = link.split('=')
print (id)
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('adult.csv')  
df3 = pd.read_csv('adult.csv')

#I m removing unknown values from dataframe here
df3.drop(df3.index[df3['workclass'] == '?'], inplace = True)
df3.drop(df3.index[df3['native.country'] == '?'], inplace = True)
df3.head()

1bqHcBDWKJg-hhbuUgC2tj0B8AlY-BKnl

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [95]:
import numpy as np
#DUMMY OPERATORS

df3['workclass'] = pd.Categorical(df3['workclass'])
dfDummies = pd.get_dummies(df3['workclass'], prefix = 'workclass')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['education'] = pd.Categorical(df3['education'])
dfDummies = pd.get_dummies(df3['education'], prefix = 'education')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['marital.status'] = pd.Categorical(df3['marital.status'])
dfDummies = pd.get_dummies(df3['marital.status'], prefix = 'marital.status')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['occupation'] = pd.Categorical(df3['occupation'])
dfDummies = pd.get_dummies(df3['occupation'], prefix = 'occupation')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')


df3['relationship'] = pd.Categorical(df3['relationship'])
dfDummies = pd.get_dummies(df3['relationship'], prefix = 'relationship')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['race'] = pd.Categorical(df3['race'])
dfDummies = pd.get_dummies(df3['race'], prefix = 'race')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['sex'] = pd.Categorical(df3['sex'])
dfDummies = pd.get_dummies(df3['sex'], prefix = 'sex')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['native.country'] = pd.Categorical(df3['native.country'])
dfDummies = pd.get_dummies(df3['native.country'], prefix = 'native.country')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')

df3['income'] = pd.Categorical(df3['income'])
dfDummies = pd.get_dummies(df3['income'], prefix = 'income')
df3 = pd.concat([df3, dfDummies],axis=1,join='inner')


df3.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0

In [96]:
from sklearn.preprocessing import minmax_scale
dfTest = df3
cols_to_norm = ['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']
dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']] = minmax_scale(dfTest[['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']])


dfTest.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64.
  after removing the cwd from sys.path.

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,0.890411,Private,0.080970,HS-grad,0.533333,Widowed,Exec-managerial,Not-in-family,White,Female,...,0,0,0,0,0,1,0,0,1,0
3,0.506849,Private,0.086061,7th-8th,0.200000,Divorced,Machine-op-inspct,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
4,0.328767,Private,0.170568,Some-college,0.600000,Separated,Prof-specialty,Own-child,White,Female,...,0,0,0,0,0,1,0,0,1,0
5,0.232877,Private,0.138072,HS-grad,0.533333,Divorced,Other-service,Unmarried,White,Female,...,0,0,0,0,0,1,0,0,1,0
6,0.287671,Private,0.093024,10th,0.333333,Separated,Adm-clerical,Unmarried,White,Male,...,0,0,0,0,0,1,0,0,1,0

In [97]:
import seaborn as sns
dfTest.drop(['workclass','education','marital.status','occupation','relationship','race','sex','native.country','income'],inplace=True,axis=1)

dfTest.head(20)

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K,income_>50K
1,0.890411,0.080970,0.533333,0.0,1.000000,0.173469,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,0.506849,0.086061,0.200000,0.0,0.895317,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
4,0.328767,0.170568,0.600000,0.0,0.895317,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
5,0.232877,0.138072,0.533333,0.0,0.865473,0.448980,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
6,0.287671,0.093024,0.333333,0.0,0.865473,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
7,0.780822,0.050899,1.000000,0.0,0.845500,0.193878,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,0.698630,0.277540,0.533333,0.0,0.845500,0.397959,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
10,0.383562,0.107758,1.000000,0.0,0.689624,0.346939,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
11,0.287671,0.102491,0.933333,0.0,0.648301,0.448980,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
12,0.479452,0.078459,0.800000,0.0,0.648301,0.193878,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
13,0.205479,0.083236,0.866667,0.0,0.648301,0.551020,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
15,0.397260,0.021479,0.933333,0.0,0.648301,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
16,0.383562,0.108130,0.400000,0.0,0.648301,0.765306,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
17,0.547945,0.206724,0.866667,0.0,0.648301,0.500000,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
19,0.232877,0.128670,0.800000,0.0,0.648301,0.500000,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
20,0.273973,0.118975,0.800000,0.0,0.648301,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
21,0.164384,0.042993,0.400000,0.0,0.632231,0.418367,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
22,0.602740,0.010395,0.533333,0.0,0.632231,0.244898,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
23,0.465753,0.095246,0.600000,0.0,0.597567,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
25,0.054795,0.013965,0.666667,0.0,0.597567,0.397959,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

In [0]:
dfTest = dfTest.drop('income_<=50K',axis=1)

In [0]:
y = dfTest["income_>50K"]
X= dfTest.drop('income_>50K',axis=1)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [108]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression()

logmodel. fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [0]:
predictions = logmodel.predict(X_test)

In [112]:
from sklearn.metrics import classification_report

print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.87      0.93      0.90      4511
           1       0.73      0.60      0.66      1523

   micro avg       0.84      0.84      0.84      6034
   macro avg       0.80      0.76      0.78      6034
weighted avg       0.84      0.84      0.84      6034