<a href="https://colab.research.google.com/github/MehmetSemerci/CNG562-MehmetSemerci/blob/master/SEMERCI_YALCIN_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Home Credit Default Risk
---
Group project by Mehmet Semerci and Selim Emre Yalçın

##Loading Data
Here we are downloading data from kaggle

In [7]:
!pip install -q kaggle
!pip install -q kaggle-cli
!mkdir .kaggle
import json
token = {"username":"msemerci","key":"ea86d09950c75144f8b3bb218ba348a9"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v /content

mkdir: cannot create directory ‘.kaggle’: File exists
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: /content

In [8]:
!kaggle competitions download -c home-credit-default-risk

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading sample_submission.csv.zip to /content/competitions/home-credit-default-risk
  0% 0.00/117k [00:00<?, ?B/s]
100% 117k/117k [00:00<00:00, 44.5MB/s]
Downloading application_test.csv.zip to /content/competitions/home-credit-default-risk
  0% 0.00/5.81M [00:00<?, ?B/s]
100% 5.81M/5.81M [00:00<00:00, 95.5MB/s]
Downloading application_train.csv.zip to /content/competitions/home-credit-default-risk
 33% 12.0M/36.1M [00:00<00:00, 62.7MB/s]
100% 36.1M/36.1M [00:00<00:00, 120MB/s]
Downloading bureau.csv.zip to /content/competitions/home-credit-default-risk
 95% 35.0M/36.8M [00:00<00:00, 71.7MB/s]
100% 36.8M/36.8M [00:00<00:00, 123MB/s]
Downloading bureau_balance.csv.zip to /content/competitions/home-credit-default-risk
 90% 51.0M/56.8M [00:00<00:00, 77.8MB/s]
100% 56.8M/56.8M [00:00<00:00, 96.3MB/s]
Downloading previous_application.csv.zip to /content/competitions/home-credit-default-risk
 94% 72.0M/76.3M [00:00<00:00, 94.6MB/s]
100% 76.3M/76.3M [00:00<00:00, 102MB/s]
Downloading credit_card_balance.csv.zip to /content/competitions/home-credit-default-risk
 87% 84.0M/96.7M [00:00<00:00, 115MB/s]
100% 96.7M/96.7M [00:00<00:00, 153MB/s]
Downloading POS_CASH_balance.csv.zip to /content/competitions/home-credit-default-risk
 99% 107M/109M [00:00<00:00, 114MB/s]
100% 109M/109M [00:00<00:00, 124MB/s]
Downloading installments_payments.csv.zip to /content/competitions/home-credit-default-risk
 97% 262M/271M [00:02<00:00, 136MB/s]
100% 271M/271M [00:02<00:00, 134MB/s]
Downloading HomeCredit_columns_description.csv to /content/competitions/home-credit-default-risk
  0% 0.00/36.5k [00:00<?, ?B/s]
100% 36.5k/36.5k [00:00<00:00, 38.9MB/s]

In [0]:
!mv competitions/home-credit-default-risk/application_train.csv.zip /content/

In [10]:
!unzip application_train.csv.zip

Archive:  application_train.csv.zip
  inflating: application_train.csv

In [0]:
!rm application_train.csv.zip

In [12]:
import pandas as pd

df = pd.read_csv("application_train.csv")
df.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

##Missing Values

In [13]:
df.shape

(307511, 122)

In [14]:
dftest = df.dropna()
dftest.shape

(8602, 122)


We wanted to see what will happen if we remove the missing values and we saw that if we remove them we lose almost all the data.

##One Hot Encoding

In [16]:
df = pd.get_dummies(df)
df.head()

   SK_ID_CURR  TARGET  ...  EMERGENCYSTATE_MODE_No  EMERGENCYSTATE_MODE_Yes
0      100002       1  ...                       1                        0
1      100003       0  ...                       1                        0
2      100004       0  ...                       0                        0
3      100006       0  ...                       0                        0
4      100007       0  ...                       0                        0

[5 rows x 246 columns]

In [19]:
from sklearn.preprocessing import MinMaxScaler, Imputer


train = df.drop(columns = ['TARGET'])

imputer = Imputer(strategy = 'median')

scaler = MinMaxScaler(feature_range = (0, 1))

imputer.fit(train)

train = imputer.transform(train)

scaler.fit(train)
train = scaler.transform(train)

labels = df['TARGET']

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [21]:
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train, labels, test_size=0.2, random_state=1)


log_reg = LogisticRegression(C = 0.0001)


log_reg.fit(X_train, y_train)



predictions = log_reg.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test,predictions)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9191909337755881